/**
 * Close cross
 */
.dtui-close-cross {
  width: 30px;
  height: 30px;
  line-height: 30px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  position: absolute;
  text-align: center;
  font-family: Arial;
  font-size: 15px;
  top: -15px;
  right: -15px;
  cursor: pointer;
  color: #333;
  background: #ddd;
}
.dtui-close-cross:hover {
  color: #fff;
  background: #3498DB;
}
/**
 * dialog panel
 */
.dtui-dlg {
  min-width: 200px;
  max-width: 600px;
}
.dtui-dlg .dtui-con {
  padding: 10px;
  font-size: 14px;
}
.dtui-dlg .dtui-btns {
  text-align: right;
  margin-top: 10px;
}
.dtui-dlg .dtui-btn {
  margin: 0 2px;
}
.dtui-btn {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  background: #3498DB;
  text-align: center;
  font-size: 14px;
  min-width: 60px;
  height: 24px;
  line-height: 24px;
  padding: 0 8px;
}
.dtui-btn-hover {
  background: #2980B9;
}
.dtui-btn-active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.dtui-btn-disabled {
  background: #ddd;
  color: #999;
  cursor: default;
}
.dtui-txipt {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  position: relative;
  border: 1px solid #979bb2;
  margin: 3px 5px;
  width: 100px;
}
.dtui-txipt textarea,
.dtui-txipt input {
  padding: 0;
  width: 100%;
  line-height: 16px;
  font-size: 12px;
  color: #000;
  background: #fff;
  border: none;
  outline: medium;
}
.dtui-txipt-alert {
  border: 1px solid red;
}
.dtui-txipt-alert-mark {
  position: absolute;
  top: 5px;
  right: 3px;
  text-align: center;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  height: 16px;
  line-height: 16px;
  width: 16px;
  font-size: 12px;
  background: red;
  color: #fff;
}
.dtui-txipt-alert-mark:before {
  content: "?";
  line-height: 16px;
  font-weight: 700;
}
.dtui-txipt-alert-text {
  position: absolute;
  top: -1px;
  left: -1px;
  right: 24px;
  background: red;
  color: #fff;
  line-height: 16px;
  font-size: 12px;
  padding: 6px;
  display: block;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.dtui-txipt-type-text {
  padding: 0 6px;
  height: 26px;
  line-height: 26px;
}
.dtui-txipt-type-textarea {
  padding: 6px;
  height: 66px;
  line-height: 66px;
}
.dtui-txipt-type-textarea textarea {
  display: block;
  height: 100%;
  resize: none;
}
.dtui-txipt-disabled {
  background: #eee;
}
.dtui-txipt-disabled textarea,
.dtui-txipt-disabled input {
  background: #eee;
  color: #333;
}
.dtui-tx {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
.dtui-chkbtn {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  *zoom: 1;
}
.dtui-chkbtn:before,
.dtui-chkbtn:after {
  display: table;
  content: "";
}
.dtui-chkbtn:after {
  clear: both;
}
.dtui-chkbtn-i {
  float: left;
  height: 18px;
  line-height: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  cursor: pointer;
  margin: 3px 5px;
  padding: 0 5px;
  font-size: 12px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 0 solid #828599;
  background: transparent;
  color: #777;
}
.dtui-chkbtn-i-hover {
  border: 0 solid #828599;
  color: #619FBD;
  background: transparent;
}
.dtui-chkbtn-i-active {
  border: 0 solid #d2d2d2;
  color: #41A8D9;
  background: transparent;
}
.dtui-chkbtn-disabled .dtui-chkbtn-i {
  border: 0 solid #828599;
  color: #828599;
  background: transparent;
  cursor: default;
}
.dtui-chkbtn-disabled .dtui-chkbtn-i-active {
  border: 0 solid #828599;
  color: #828599;
  background: #ddd;
}
.dtui-treelist-i {
  position: relative;
  padding-left: 1.3em;
  line-height: 20px;
}
.dtui-treelist-thumb {
  margin: -1px 0 0 -1em;
  position: absolute;
  cursor: pointer;
  font-style: normal;
  font-family: Arial;
  width: 1.5em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dtui-treelist-expanded > .dtui-treelist-thumb:after {
  content: '▾';
}
.dtui-treelist-collapsed > .dtui-treelist-thumb:after {
  content: '▸';
}
.dtui-treelist-thumb:hover {
  color: #7DA7BA;
}
.dtui-treelist-text {
  cursor: pointer;
  display: block;
  padding: 0 0.5em;
  text-decoration: none;
  color: #333;
}
.dtui-treelist-text-highlight {
  background: #efd689;
  color: #000;
}
.dtui-treelist-text-active {
  background: #B03A5B;
  color: #fff;
}
.dtui-treelist-text-hover {
  background: rgba(176, 59, 91, 0.25);
  color: #000;
}
.dtui-treelist-post {
  display: block;
  padding: 0 0.5em;
}
.dtui-treelist-disabled .dtui-treelist-text {
  background: transparent;
  color: #828599;
}
.dtui-winpn {
  background: #f5f5f5;
  color: #222;
  padding: 5px 10px;
  line-height: 25px;
  z-index: 9999;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 3px, rgba(255, 255, 255, 0.1) 0px 1px 0px inset, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 3px, rgba(255, 255, 255, 0.1) 0px 1px 0px inset, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -50%;
  overflow: visible;
  padding: 10px;
}
.dtui-winpn a,
.dtui-winpn a:visited {
  color: #99D0FF;
}
.dtui-winpn-con {
  overflow: hidden;
}
.dtui-global-tooltip {
  position: absolute;
  max-width: 200px;
  background: #fff;
  border: 1px solid #bbb;
  color: #111;
  padding: 5px 10px;
  line-height: 25px;
  z-index: 99999;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
* {
  font-family: "Helvetica Neue", "Segoe UI", Tahoma, Arial, "Hiragino Sans GB", STHeiti, "Microsoft Yahei", "WenQuanYi Micro Hei", sans-serif;
}
.navbar * {
  font-family: "noto-thin";
}
body {
  background: #FAFAFC;
  color: #333;
}
code {
  color: #293C55;
}
.ecdoc-normal-panel {
  background: #f5f5f5;
  border: 1px solid #ccc;
  color: #333;
  padding: 5px 10px;
  line-height: 25px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}
.ecdoc-normal-panel a,
.ecdoc-normal-panel a:visited {
  color: #B03A5B;
}
.ecdoc-apidoc {
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 100%;
}
.ecdoc-api-left-area {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 10px;
  height: 100%;
  width: 280px;
}
.ecdoc-api-right-area {
  position: absolute;
  right: 0;
  height: 100%;
  left: 290px;
  border-left: 1px solid #ddd;
}
.ecdoc-quick-link {
  position: relative;
  z-index: 999;
  font-size: 14px;
  text-align: center;
  background: #FAFAFC;
  height: 46px;
  line-height: 38px;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  margin-right: 10px;
}
.ecdoc-quick-link:after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: -10px;
  width: 10px;
  height: 47px;
  background: #FAFAFC;
}
.ecdoc-quick-link a,
.ecdoc-quick-link span {
  display: inline-block;
  height: 46px;
  vertical-align: middle;
  color: #555;
  margin: 0 15px;
  padding: 0 5px;
}
.ecdoc-quick-link a {
  border-top: 4px solid transparent;
}
.ecdoc-quick-link a:hover {
  text-decoration: none;
  background: #e9e9e9;
}
.ecdoc-quick-link span {
  border-top: 4px solid #b03a5b;
}
.ecdoc-api-query-box {
  position: relative;
  padding: 15px 30px 0 20px;
  z-index: 12;
  background: #FAFAFC;
  *zoom: 1;
}
.ecdoc-api-query-box:before,
.ecdoc-api-query-box:after {
  display: table;
  content: "";
}
.ecdoc-api-query-box:after {
  clear: both;
}
.ecdoc-api-query-box .dtui-txipt {
  background: #fff;
  color: #000;
  height: 30px;
  width: 238px;
  display: block;
  margin: 0;
  text-align: right;
  position: relative;
}
.ecdoc-api-query-box .dtui-txipt input {
  width: 100%;
  text-indent: 20px;
  background: #fff;
  color: #000;
}
.ecdoc-api-query-box .dtui-txipt:before {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  content: "\e601";
  position: absolute;
  left: 5px;
  top: 2px;
  color: #777;
}
.ecdoc-api-query-box .query-mode {
  float: left;
  margin-top: 4px;
  font-size: 12px;
  margin-left: 3px;
}
.ecdoc-api-query-box .query-mode .dtui-chkbtn-i-active {
  color: #333;
}
.ecdoc-api-query-box .collapse-all {
  margin-top: 7px;
  width: auto;
  min-width: 0;
  float: right;
  background: transparent;
  height: 18px;
  line-height: 18px;
  font-size: 12px;
  color: #666;
}
.ecdoc-api-query-box .query-result-info {
  font-size: 12px;
  color: #aaa;
  width: 94px;
  float: left;
  height: 18px;
  line-height: 18px;
  margin-top: 0;
  margin-left: 13px;
}
.autocomplete-suggestions {
  top: 143px !important;
  left: 35px !important;
  width: 228px !important;
  font-size: 12px !important;
}
.ecdoc-api-tree-area {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}
.ecdoc-api-tree-area:before {
  content: " ";
  position: fixed;
  top: 50px;
  left: 0;
  width: 290px;
  background: #FAFAFC;
  height: 95px;
  z-index: 1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FAFAFC), to(rgba(247, 247, 249, 0.1)));
  background-image: -webkit-linear-gradient(top, #FAFAFC, rgba(247, 247, 249, 0.1));
  background-image: linear-gradient(to bottom, #FAFAFC, rgba(247, 247, 249, 0.1));
}
.ecdoc-api-tree-area .ps-scrollbar-y-rail {
  z-index: 2;
}
.ecdoc-api-tree-area .ecdoc-api-tree {
  padding-top: 137px;
}
.ecdoc-api-tree-area .ecdoc-api-tree * {
  font-family: Monaco,Consolas,Courier new,monospace;
  font-size: 13px;
  white-space: nowrap;
}
.ecdoc-api-tree-area .dtui-treelist-text .ecdoc-api-tree-text-default {
  color: #999;
  font-style: normal;
  margin-left: 5px;
}
.ecdoc-api-tree-area .dtui-treelist-text-highlight .ecdoc-api-tree-text-default {
  color: #333;
}
.ecdoc-api-tree-area .dtui-treelist-text-active .ecdoc-api-tree-text-default {
  color: #fff;
}
.ecdoc-api-tree-area .dtui-treelist-text-hover .ecdoc-api-tree-text-default {
  color: #777;
}
.ecdoc-api-tree-area .dtui-treelist-thumb {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  margin: 2px 0 0 -1.2em;
}
.ecdoc-api-tree-area .dtui-treelist-thumb:hover {
  color: #C592A0;
}
.ecdoc-api-tree-area .dtui-treelist-expanded > .dtui-treelist-thumb:after {
  content: "\e600";
}
.ecdoc-api-tree-area .dtui-treelist-collapsed > .dtui-treelist-thumb:after {
  content: "\e602";
}
.ecdoc-api-doc-group-area {
  position: relative;
  height: 100%;
}
.ecdoc-api-doc-group-content {
  margin: 0;
  padding: 14px 50px;
}
.ecdoc-api-doc-group-content blockquote {
  font-size: 12px;
  color: #999;
}
.ecdoc-api-doc-group-content blockquote p {
  margin: 0;
}
.ecdoc-api-doc-group-content blockquote pre {
  font-size: 12px;
}
.ecdoc-api-doc-group-content iframe {
  border: 1px solid #ccc;
}
.ecdoc-api-doc-group-content p {
  line-height: 1.7em;
  margin: 18px 0 0 0;
}
.ecdoc-api-doc-group-content pre {
  margin: 0 -15px;
  background-color: #f5f5f5;
  border: none;
  padding: 15px;
  -webkit-border-radius: 0;
          border-radius: 0;
}
.ecdoc-api-doc-group-content code * {
  font-family: Monaco, Consolas, 'Courier New';
}
.ecdoc-api-doc-group-content ul li {
  list-style: disc;
  margin: 10px 20px;
}
.ecdoc-api-doc-group-content ol li {
  list-style: decimal;
}
.ecdoc-api-doc-group-line {
  position: relative;
  padding: 15px 15px;
  background: #fff;
  margin: 10px 0px;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}
.ecdoc-api-doc-group-line blockquote {
  font-size: 12px;
  color: #999;
}
.ecdoc-api-doc-sub-group .ecdoc-api-doc-group-line {
  -webkit-border-radius: 4px;
          border-radius: 4px;
}
.ecdoc-api-doc-line-expand {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.ecdoc-api-doc-line-head {
  cursor: pointer;
}
.ecdoc-api-doc-line-label {
  color: #C592A0;
  font-size: 14px;
  padding-right: 20px;
}
.ecdoc-api-doc-line-label strong {
  color: #B03A5B;
  font-size: 18px;
  padding-left: 5px;
}
.ecdoc-api-doc-line-type {
  padding-left: 20px;
  border-left: 1px solid #ccc;
}
.ecdoc-api-doc-group-line-highlight {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.ecdoc-api-doc-group-title {
  color: #B03A5B;
  font-size: 20px;
  border-bottom: 1px solid #ccc;
  height: 40px;
  line-height: 40px;
}
.ecdoc-api-doc-group-title-desc {
  margin-top: 20px;
  margin-bottom: 20px;
}
.ecdoc-api-hover-desc {
  position: fixed;
  left: 310px;
  right: 25px;
  height: 130px;
  bottom: 15px;
  background-color: white;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.ecdoc-api-hover-desc .ecdoc-api-doc-group-line {
  margin: 0;
  height: 100%;
  overflow: hidden;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.ecdoc-api-hover-desc:after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fff), color-stop(#fff), color-stop(#fff), to(rgba(255, 255, 255, 0.1)));
  background-image: -webkit-linear-gradient(bottom, #fff, #fff, #fff, rgba(255, 255, 255, 0.1));
  background-image: linear-gradient(to top, #fff, #fff, #fff, rgba(255, 255, 255, 0.1));
  color: red;
}
#main.tutorial .ecdoc-api-doc-group-content li {
  font-size: 16px;
}
#main.tutorial .ecdoc-api-doc-group-content p {
  font-size: 16px;
  margin: 18px 0;
}
#main.tutorial .ecdoc-api-doc-group-content h2 {
  margin: 30px 0 20px 0;
  border-bottom: 1px solid #ccc;
  padding-bottom: 4px;
  font-size: 26px;
}
#main.tutorial .ecdoc-api-doc-group-content h3,
#main.tutorial .ecdoc-api-doc-group-content h4 {
  margin: 20px 0;
}
#main.tutorial .dtui-treelist-i {
  line-height: 30px;
  margin: 0;
  padding-left: 0;
}
#main.tutorial .dtui-treelist-i * {
  font-size: 14px;
  font-family: "Helvetica Neue", "Segoe UI", Tahoma, Arial, "Hiragino Sans GB", STHeiti, "Microsoft Yahei", "WenQuanYi Micro Hei", sans-serif;
}
#main.tutorial .dtui-treelist-i .dtui-treelist-text {
  padding-left: 15px;
}
