/* ==========================================================================
   SCSS Variables
   ========================================================================== */

/*
   Page
   ========================================================================== */

$feature-image-height            : 400px; // min 150px recommended
$front-page-feature-image-height : 400px; // min 150px recommended

/*
   Typography
   ========================================================================== */

$base-font                       : 'Lato', Calibri, Arial, sans-serif;
$heading-font                    : $base-font;
$caption-font                    : $base-font;
$code-font                       : monospace;
$alt-font                        : serif;

$doc-font-size                   : 16;
$doc-line-height                 : 32;


// set-up the body font-size / line-height
body {
  margin-top: 0px + $doc-line-height;
  font-size: 0px + $doc-font-size;
}

/*
   Colors
   ========================================================================== */

$base-color                      : rgba(#222,0.8);
$body-color                      : #fff;
$text-color                      : rgba(#222,0.8);
$comp-color                      : complement(#222);
$border-color                    : lighten($base-color,60);
$link-color                      : #3095c6;

$primary                         : #222;
$success                         : #5cb85c;
$warning                         : #dd8338;
$danger                          : #C64537;
$info                            : #308cbc;

$clr-primary:        #293c55;
$clr-primary-light:  #849dbe;
$clr-primary-dark:   #162436;
$clr-primary-darker: #0e151f;

$clr-secondary:      #a9334c;
// $clr-secondary-dark: #3095c6;

$clr-contrast:       #e43c59;
$clr-contrast-dark:  #bf465b;

$clr-darkest:        #000;
$clr-darker:         #333;
$clr-dark:           #666;
$clr-light:          #999;
$clr-lighter:        #eee;
$clr-lightest:       #f9f9f9;

$clr-thirdary:       #40A7DC;
$clr-thirdary-light: lighten($clr-thirdary, 10%);

$clr-border: rgba(78, 97, 118, 0.45);
$clr-border-light: rgba(78, 97, 118, 0.25);


/*
   Screen sizes
   ========================================================================== */

$small                           : "only screen and (min-width: 30em)";
$medium                          : "only screen and (min-width: 48em)";
$large                           : "only screen and (min-width: 62.5em)";