<script src="{{ site.url }}/assets/js/vendor/jquery-1.9.1.min.js"></script>
<script src="{{ site.url }}/assets/js/scripts.min.js"></script>

{% if page.lazyLoad %}
<script src="{{ site.url }}/assets/js/plugins/md-env.js"></script>
<script src="{{ site.url }}/assets/js/plugins/lazy-load.js"></script>
{% endif %}


<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?4bad1df23f079e0d12bdbef5e65b072f";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>

{% if page.comments != false %}{% include disqus_comments.html %}{% endif %}