@mixin description-html-formatter {
    .hljs {
        background: transparent;
        padding: 0;
    }

    hr {
        border: none;
        border-bottom: 1px solid #eee;
        width: 80%;
    }

    blockquote {
        background-color: #f3f3f3;
        border-left: 2px solid #ddd;
        margin-left: 0px;

        padding: 10px 20px;

        p {
            font-size: 13px;
        }
        pre {
            font-size: 13px;
            background-color: #fff;
        }
    }

    iframe {
        border: none;
        display: block;
        margin-top: 5px;
        max-width: 100%;
    }

    img {
        max-width: 100%;
    }

    p {
        line-height: 1.7em;
        margin: 12px 0 12px 0;
        font-size: 14px;
    }

    pre {
        margin: 5px 0;
        border-radius: 5px;
        background-color: #f5f7fa;
        border: none;
        padding: 10px;
        font-size: 13px;
    }

    .codespan {
        padding: 1px 5px;
        font-size: 14px;
        //color: #293C55;
        background-color: #f4f4f4;
        border-radius: 4px;
    }

    code *, code {
        font-family: 'Source Code Pro', 'Courier New', monospace;
    }

    ol {
        margin-left: 20px;
    }
    ul li {
        list-style: disc;
        margin: 10px 20px;
        font-size: 14px;
    }
    ol li {
        margin: 1em 0;
        list-style: decimal;
        font-size: 14px;
    }

    a {
        font-family: 'Source Code Pro', STHeiti, "Microsoft Yahei", "WenQuanYi Micro Hei", sans-serif;
    }

    .doc-partial-version {
        font-size: 12px;
        background: #f3f3f3;
        margin: 10px 20px 10px 0;
        padding: 10px;
        border-left: 2px solid #ddd;

        code {
            color: #0086b3;
        }
    }

    .doc-partial-security-warning {
        font-size: 13px;
        background: rgba(254, 226, 226, 1);
        margin: 10px 20px 10px 0;
        padding: 10px;
        border-left: 2px solid rgba(248, 113, 113, 1);
        color: rgb(100, 116, 139);
    }
}
