/**
 * Close cross
 */
.dtui-close-cross {
  width: 30px;
  height: 30px;
  line-height: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  position: absolute;
  text-align: center;
  font-family: Arial;
  font-size: 15px;
  top: -15px;
  right: -15px;
  cursor: pointer;
  color: #333333;
  background: #dddddd;
}
.dtui-close-cross:hover {
  color: #ffffff;
  background: #3498db;
}
/**
 * dialog panel
 */
.dtui-dlg {
  min-width: 200px;
  max-width: 600px;
}
.dtui-dlg .dtui-con {
  padding: 10px;
  font-size: 14px;
}
.dtui-dlg .dtui-btns {
  text-align: right;
  margin-top: 10px;
}
.dtui-dlg .dtui-btn {
  margin: 0 2px;
}
.dtui-btn {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  background: #3498DB;
  text-align: center;
  font-size: 14px;
  min-width: 60px;
  height: 24px;
  line-height: 24px;
  padding: 0 8px;
}
.dtui-btn-hover {
  background: #2980B9;
}
.dtui-btn-active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.dtui-btn-disabled {
  background: #ddd;
  color: #999;
  cursor: default;
}
/**
 * Close cross
 */
.dtui-close-cross {
  width: 30px;
  height: 30px;
  line-height: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  position: absolute;
  text-align: center;
  font-family: Arial;
  font-size: 15px;
  top: -15px;
  right: -15px;
  cursor: pointer;
  color: #333333;
  background: #dddddd;
}
.dtui-close-cross:hover {
  color: #ffffff;
  background: #3498db;
}
/**
 * dialog panel
 */
.dtui-dlg {
  min-width: 200px;
  max-width: 600px;
}
.dtui-dlg .dtui-con {
  padding: 10px;
  font-size: 14px;
}
.dtui-dlg .dtui-btns {
  text-align: right;
  margin-top: 10px;
}
.dtui-dlg .dtui-btn {
  margin: 0 2px;
}
.dtui-txipt {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  position: relative;
  border: 1px solid #979bb2;
  margin: 3px 5px;
  width: 100px;
}
.dtui-txipt textarea,
.dtui-txipt input {
  padding: 0;
  width: 100%;
  line-height: 16px;
  font-size: 12px;
  color: #000;
  background: #fff;
  border: none;
  outline: medium;
}
.dtui-txipt-alert {
  border: 1px solid red;
}
.dtui-txipt-alert-mark {
  position: absolute;
  top: 5px;
  right: 3px;
  text-align: center;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  height: 16px;
  line-height: 16px;
  width: 16px;
  font-size: 12px;
  background: red;
  color: #fff;
}
.dtui-txipt-alert-mark:before {
  content: "?";
  line-height: 16px;
  font-weight: 700;
}
.dtui-txipt-alert-text {
  position: absolute;
  top: -1px;
  left: -1px;
  right: 24px;
  background: red;
  color: #fff;
  line-height: 16px;
  font-size: 12px;
  padding: 6px;
  display: block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.dtui-txipt-type-text {
  padding: 0 6px;
  height: 26px;
  line-height: 26px;
}
.dtui-txipt-type-textarea {
  padding: 6px;
  height: 66px;
  line-height: 66px;
}
.dtui-txipt-type-textarea textarea {
  display: block;
  height: 100%;
  resize: none;
}
.dtui-txipt-disabled {
  background: #eeeeee;
}
.dtui-txipt-disabled textarea,
.dtui-txipt-disabled input {
  background: #eeeeee;
  color: #333;
}
/**
 * Close cross
 */
.dtui-close-cross {
  width: 30px;
  height: 30px;
  line-height: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  position: absolute;
  text-align: center;
  font-family: Arial;
  font-size: 15px;
  top: -15px;
  right: -15px;
  cursor: pointer;
  color: #333333;
  background: #dddddd;
}
.dtui-close-cross:hover {
  color: #ffffff;
  background: #3498db;
}
/**
 * dialog panel
 */
.dtui-dlg {
  min-width: 200px;
  max-width: 600px;
}
.dtui-dlg .dtui-con {
  padding: 10px;
  font-size: 14px;
}
.dtui-dlg .dtui-btns {
  text-align: right;
  margin-top: 10px;
}
.dtui-dlg .dtui-btn {
  margin: 0 2px;
}
.dtui-tx {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
/**
 * Close cross
 */
.dtui-close-cross {
  width: 30px;
  height: 30px;
  line-height: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  position: absolute;
  text-align: center;
  font-family: Arial;
  font-size: 15px;
  top: -15px;
  right: -15px;
  cursor: pointer;
  color: #333333;
  background: #dddddd;
}
.dtui-close-cross:hover {
  color: #ffffff;
  background: #3498db;
}
/**
 * dialog panel
 */
.dtui-dlg {
  min-width: 200px;
  max-width: 600px;
}
.dtui-dlg .dtui-con {
  padding: 10px;
  font-size: 14px;
}
.dtui-dlg .dtui-btns {
  text-align: right;
  margin-top: 10px;
}
.dtui-dlg .dtui-btn {
  margin: 0 2px;
}
.dtui-chkbtn {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  *zoom: 1;
}
.dtui-chkbtn:before,
.dtui-chkbtn:after {
  display: table;
  content: "";
}
.dtui-chkbtn:after {
  clear: both;
}
.dtui-chkbtn:before,
.dtui-chkbtn:after {
  display: table;
  content: "";
}
.dtui-chkbtn:after {
  clear: both;
}
.dtui-chkbtn:before,
.dtui-chkbtn:after {
  display: table;
  content: "";
}
.dtui-chkbtn:after {
  clear: both;
}
.dtui-chkbtn:before,
.dtui-chkbtn:after {
  display: table;
  content: "";
}
.dtui-chkbtn:after {
  clear: both;
}
.dtui-chkbtn:before,
.dtui-chkbtn:after {
  display: table;
  content: "";
}
.dtui-chkbtn:after {
  clear: both;
}
.dtui-chkbtn:before,
.dtui-chkbtn:after {
  display: table;
  content: "";
}
.dtui-chkbtn:after {
  clear: both;
}
.dtui-chkbtn-i {
  float: left;
  height: 18px;
  line-height: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  cursor: pointer;
  margin: 3px 5px;
  padding: 0 5px;
  font-size: 12px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 0 solid #828599;
  background: transparent;
  color: #777777;
}
.dtui-chkbtn-i-hover {
  border: 0 solid #828599;
  color: #333333;
  background: #e0e0e0;
}
.dtui-chkbtn-i-active {
  border: 0 solid #d2d2d2;
  color: #f0f0f0;
  background: #828599;
}
.dtui-chkbtn-disabled .dtui-chkbtn-i {
  border: 0 solid #828599;
  color: #828599;
  background: transparent;
  cursor: default;
}
.dtui-chkbtn-disabled .dtui-chkbtn-i-active {
  border: 0 solid #828599;
  color: #828599;
  background: #dddddd;
}
/**
 * Close cross
 */
.dtui-close-cross {
  width: 30px;
  height: 30px;
  line-height: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  position: absolute;
  text-align: center;
  font-family: Arial;
  font-size: 15px;
  top: -15px;
  right: -15px;
  cursor: pointer;
  color: #333333;
  background: #dddddd;
}
.dtui-close-cross:hover {
  color: #ffffff;
  background: #3498db;
}
/**
 * dialog panel
 */
.dtui-dlg {
  min-width: 200px;
  max-width: 600px;
}
.dtui-dlg .dtui-con {
  padding: 10px;
  font-size: 14px;
}
.dtui-dlg .dtui-btns {
  text-align: right;
  margin-top: 10px;
}
.dtui-dlg .dtui-btn {
  margin: 0 2px;
}
.dtui-treelist-i {
  position: relative;
  padding-left: 1.3em;
  line-height: 20px;
}
.dtui-treelist-thumb {
  margin: -1px 0 0 -1em;
  position: absolute;
  cursor: pointer;
  font-style: normal;
  font-family: Arial;
  width: 1.5em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dtui-treelist-expanded > .dtui-treelist-thumb:after {
  content: '▾';
}
.dtui-treelist-collapsed > .dtui-treelist-thumb:after {
  content: '▸';
}
.dtui-treelist-thumb:hover {
  color: #7DA7BA;
}
.dtui-treelist-text {
  cursor: pointer;
  display: block;
  padding: 0 0.5em;
  text-decoration: none;
  color: #333333;
}
.dtui-treelist-text-highlight {
  background: #efd689;
  color: #000000;
}
.dtui-treelist-text-active {
  background: #428bca;
  color: #ffffff;
}
.dtui-treelist-text-hover {
  background: #a2d0f7;
  color: #000000;
}
.dtui-treelist-post {
  display: block;
  padding: 0 0.5em;
}
.dtui-treelist-disabled .dtui-treelist-text {
  background: transparent;
  color: #828599;
}
/**
 * Close cross
 */
.dtui-close-cross {
  width: 30px;
  height: 30px;
  line-height: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  position: absolute;
  text-align: center;
  font-family: Arial;
  font-size: 15px;
  top: -15px;
  right: -15px;
  cursor: pointer;
  color: #333333;
  background: #dddddd;
}
.dtui-close-cross:hover {
  color: #ffffff;
  background: #3498db;
}
/**
 * dialog panel
 */
.dtui-dlg {
  min-width: 200px;
  max-width: 600px;
}
.dtui-dlg .dtui-con {
  padding: 10px;
  font-size: 14px;
}
.dtui-dlg .dtui-btns {
  text-align: right;
  margin-top: 10px;
}
.dtui-dlg .dtui-btn {
  margin: 0 2px;
}
.dtui-winpn {
  background: #f5f5f5;
  color: #222222;
  padding: 5px 10px;
  line-height: 25px;
  z-index: 9999;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 3px, rgba(255, 255, 255, 0.1) 0px 1px 0px inset, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 3px, rgba(255, 255, 255, 0.1) 0px 1px 0px inset, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 3px, rgba(255, 255, 255, 0.1) 0px 1px 0px inset, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -50%;
  overflow: visible;
  padding: 10px;
}
.dtui-winpn a,
.dtui-winpn a:visited {
  color: #99d0ff;
}
.dtui-winpn a,
.dtui-winpn a:visited {
  color: #99d0ff;
}
.dtui-winpn a,
.dtui-winpn a:visited {
  color: #99d0ff;
}
.dtui-winpn a,
.dtui-winpn a:visited {
  color: #99d0ff;
}
.dtui-winpn a,
.dtui-winpn a:visited {
  color: #99d0ff;
}
.dtui-winpn a,
.dtui-winpn a:visited {
  color: #99d0ff;
}
.dtui-winpn-con {
  overflow: hidden;
}
.dtui-global-tooltip {
  position: absolute;
  max-width: 200px;
  background: #ffffff;
  border: 1px solid #bbbbbb;
  color: #111111;
  padding: 5px 10px;
  line-height: 25px;
  z-index: 99999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
/**
 * @file 公共normalize & 部分reset。
 * @author sushuang(sushuang@baidu.com)
 */
html,
body,
div,
span,
object,
iframe,
a,
img,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
input,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
* {
  font-family: "Helvetica Neue", "Segoe UI", Tahoma, Arial, "Hiragino Sans GB", STHeiti, "Microsoft Yahei", "WenQuanYi Micro Hei", sans-serif;
}
html {
  background-color: #f7f7f7;
}
.ecdoc-normal-panel {
  background: #f5f5f5;
  border: 1px solid #ccc;
  color: #333;
  padding: 5px 10px;
  line-height: 25px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.ecdoc-normal-panel a,
.ecdoc-normal-panel a:visited {
  color: #428bca;
}
.ecdoc-fixed-panel {
  position: fixed;
  z-index: 9999;
}
.ecdoc-api-query-box {
  top: 5px;
  left: 25px;
  padding: 10px 10px 5px 10px;
  z-index: 1020;
  *zoom: 1;
}
.ecdoc-api-query-box:before,
.ecdoc-api-query-box:after {
  display: table;
  content: "";
}
.ecdoc-api-query-box:after {
  clear: both;
}
.ecdoc-api-query-box:before,
.ecdoc-api-query-box:after {
  display: table;
  content: "";
}
.ecdoc-api-query-box:after {
  clear: both;
}
.ecdoc-api-query-box:before,
.ecdoc-api-query-box:after {
  display: table;
  content: "";
}
.ecdoc-api-query-box:after {
  clear: both;
}
.ecdoc-api-query-box:before,
.ecdoc-api-query-box:after {
  display: table;
  content: "";
}
.ecdoc-api-query-box:after {
  clear: both;
}
.ecdoc-api-query-box:before,
.ecdoc-api-query-box:after {
  display: table;
  content: "";
}
.ecdoc-api-query-box:after {
  clear: both;
}
.ecdoc-api-query-box:before,
.ecdoc-api-query-box:after {
  display: table;
  content: "";
}
.ecdoc-api-query-box:after {
  clear: both;
}
.ecdoc-api-query-box:before,
.ecdoc-api-query-box:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  height: 20px;
  left: 0;
  background: #f7f7f7;
  opacity: 0.7;
}
.ecdoc-api-query-box:before {
  top: -21px;
}
.ecdoc-api-query-box:after {
  bottom: -21px;
}
.ecdoc-api-query-box .dtui-txipt {
  background: #fff;
  color: #000;
  height: 30px;
  width: 320px;
  display: block;
  margin: 0;
}
.ecdoc-api-query-box .dtui-txipt input {
  background: #fff;
  color: #000;
}
.ecdoc-api-query-box .query-mode {
  float: left;
  margin-top: 4px;
  font-size: 12px;
}
.ecdoc-api-query-box .collapse-all {
  margin-top: 7px;
  width: auto;
  min-width: 0;
  float: right;
  background: transparent;
  height: 18px;
  line-height: 18px;
  font-size: 12px;
  color: #666;
}
.ecdoc-api-query-box .query-result-info {
  font-size: 12px;
  color: #aaa;
  width: 94px;
  float: left;
  height: 18px;
  line-height: 18px;
  margin-top: 7px;
  margin-left: 13px;
}
.ecdoc-api-tree-area {
  width: 340px;
  margin-top: 120px;
  margin-left: 15px;
  float: left;
  overflow: hidden;
}
.ecdoc-api-tree-area .dtui-treelist-text .ecdoc-api-tree-text-default {
  color: #999;
  font-style: normal;
  margin-left: 5px;
}
.ecdoc-api-tree-area .dtui-treelist-text-highlight .ecdoc-api-tree-text-default {
  color: #333;
}
.ecdoc-api-tree-area .dtui-treelist-text-active .ecdoc-api-tree-text-default {
  color: #fff;
}
.ecdoc-api-tree-area .dtui-treelist-text-hover .ecdoc-api-tree-text-default {
  color: #777;
}
.ecdoc-api-doc-group-area {
  position: fixed;
  left: 400px;
  right: 35px;
  top: 10px;
  bottom: 20px;
  overflow: auto;
  padding-left: 0;
  padding-right: 0;
}
.ecdoc-api-doc-group-area .ecdoc-api-doc-group-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 5px;
}
.ecdoc-api-doc-group-area .ecdoc-api-doc-group-line {
  padding: 20px 15px;
  background: #FFF;
  margin: 10px 0px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}
.ecdoc-api-doc-group-area .ecdoc-api-doc-line-label {
  color: #1160A5;
  padding-right: 20px;
}
.ecdoc-api-doc-group-area .ecdoc-api-doc-line-label strong {
  padding-left: 5px;
}
.ecdoc-api-doc-group-area .ecdoc-api-doc-group-line-highlight {
  background-color: #bfe3ec;
}
.ecdoc-api-doc-group-area .ecdoc-api-doc-group-title {
  font-size: 22px;
}
.ecdoc-api-chart-query-area {
  position: fixed;
  left: 400px;
  right: 35px;
  top: 5px;
  bottom: 200px;
}
.ecdoc-api-chart-query-area-close {
  bottom: auto;
  height: 35px;
}
.ecdoc-api-chart-query-area-close .api-chart-desc,
.ecdoc-api-chart-query-area-close .api-category,
.ecdoc-api-chart-query-area-close .api-chart-layout {
  display: none;
}
.ecdoc-api-desc-area {
  position: fixed;
  left: 390px;
  right: 25px;
  height: 175px;
  bottom: 20px;
  background-color: white;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.ecdoc-api-desc-area pre {
  word-break: break-all;
  word-wrap: break-word;
  border-width: 0;
  padding: 0;
  line-height: 25px;
}
.ecdoc-api-desc-area .ecdoc-api-left {
  position: absolute;
  top: 42px;
  left: 10px;
  bottom: 10px;
  width: 160px;
  overflow: auto;
}
.ecdoc-api-desc-area .ecdoc-api-desc {
  position: absolute;
  top: 20px;
  left: 175px;
  bottom: 10px;
  right: 10px;
  padding-top: 20px;
  padding-left: 10px;
  border-left: 1px solid #ccc;
  overflow: auto;
  word-break: break-all;
  word-wrap: break-word;
}
.ecdoc-api-desc-area .ecdoc-api-option-path {
  position: absolute;
  top: 2px;
  left: 5px;
  border: 5px solid #f7f7f7;
  white-space: nowrap;
  background: #428bca;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  font-family: Monaco, Monospace;
  font-weight: normal;
  color: #fff;
  margin: 3px 0;
  padding: 0 5px;
  z-index: 999;
}
.ecdoc-api-desc-area-full {
  height: auto;
  top: 110px;
}
