h3 {
    margin: 40px 0 10px 0;
    color: #B03A5B;
}

h4 {
    margin: 30px 0 10px 0;
    color: #162436;
}

p {
    margin: 10px 0;
    line-height: 1.4em;
}

a {
    color: #337ab7;
}

li {
    margin: 10px 0;
}

blockquote {
    border-left: 4px solid #eee;
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
}



.container {
    overflow: hidden;
    padding: 20px;
}



code, pre {
    background-color: #f3f3f3;
    margin: 5px;
    padding: 2px;
    border-radius: 3px;
    line-height: 1.2rem;
}

pre {
    margin: 0;
    padding: 10px;
    overflow: auto;
}

pre code {
    background-color: transparent;
    margin: 0;
}
